.props {
  display: flex;
  background-color: blue;
}

.propsiinZurag {
  width: 600px;
  height: 600px;
  padding: 126px 57px;
  border-radius: 12px;
  background-color: #1a1a1a;
}

.propsiinZurag > img {
  width: 100%;
  height: 100%;
}

.propsText {
  max-width: 100%;
  height: 600px;
  background-color: chartreuse;
}
